body {
    background-color: #0a0f1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    color: white; /* Цвет текста для контраста */
}

.container {
    text-align: center;
}

.inner-container {
    background-color: #1a1f2e; /* Цвет внутреннего контейнера */
    padding: 20px;
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 0 30px rgba(13, 24, 29, 0.5); /* Более размытое голубоватое сияние */
    margin-top: 20px; /* Отступ сверху */
    min-height: 150px; /* Минимальная высота контейнера */
    width: 300px; /* Фиксированная ширина контейнера */
    display: flex;
    flex-direction: column; /* Вертикальная ориентация элементов */
    justify-content: center; /* Центрирование содержимого по вертикали */
    align-items: center; /* Центрирование содержимого по горизонтали */
}

.number-container {
    display: flex; /* Горизонтальное расположение элементов */
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    margin-top: 20px; /* Отступ сверху для контейнера с цифрами */
}

.arrow-button {
    background-color: #785bf7; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Удаление границы */
    border-radius: 5px; /* Закругленные углы кнопки */
    padding: 10px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор при наведении */
    margin: 0 10px; /* Горизонтальные отступы между кнопками и цифрой */
}

.number-display {
    font-size: 20px; /* Размер шрифта для цифры */
    padding: 0 15px; /* Отступы слева и справа */
}

.signal-button {
    background-color: #785bf7; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Удаление границы */
    border-radius: 5px; /* Закругленные углы кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    margin-top: 20px; /* Отступ сверху для кнопки */
}

.signal-button:hover {
    background-color: #785bf7; /* Цвет кнопки при наведении */
}

.signal-container {
    margin-top: 20px; /* Отступ сверху для контейнера с изображением */
    text-align: center; /* Центрирование содержимого */
}

.signal-container img {
    max-width: 100%; /* Ограничение ширины изображения */
    height: auto; /* Автоматическая высота для пропорций */
    width: 50%; /* Установка ширины изображения в 50% от контейнера */
    border-radius: 8px; /* Закругленные углы изображения */
    opacity: 1; /* Начальная непрозрачность */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавный переход для opacity и transform */
}

.fade-out {
    opacity: 0; /* Исчезновение */
    transform: scale(0.8); /* Уменьшение размера */
}

.fade-in {
    opacity: 1; /* Появление */
    transform: scale(1.0); /* Нормальный размер */
}